.padre{
    display: flex;
    justify-content: center;
}
.foto{
    height: 500px;
    width: 500px;
    background-image: radial-gradient(circle, transparent 60%, black), url(../fondos/montalas.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
h1 {
    text-align: center;
    color: azure;
}
h2 {
    text-align: center;
    color: azure;
}